/* General Styling */
body {
    font-family: Arial , sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:pink;
}

h1, h2, h3 {
   color:#004466;
}

a {
    color:#004466;
    text-decoration: none;
    } 

    a:hover {
        text-decoration: underline;
    }

    /* Hero Section */
    .hero {
        background: url('call center-bg.jpg')
        no-repeat center center/cover;
        color: black;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 1.2rem;

        /* Section Styling */
        section {
            padding: 40px 20px;
            max-width: 800px;
            margin: auto;
        }

        .about, .resume, .projects, .contact {
            background: #f9f9f9;
            margin: 20px 0;
            border-radius: 10px;
            padding: 20px;
        }
        /* footer */
        footer {
            text-align: center;
            padding: 20px;
            background: #004466;
            color: antiquewhite;
            margin-top: 20px;
        }
        /* Responsive */
        @media (max-width: 768px) {
            .hero-text h1 {
                font-size: 2rem;
        }
        .hero-text p {
            font-size: 1 rem;
        }
    }